@import "../node_modules/bootstrap/scss/bootstrap";
// @import url("https://fonts.googleapis.com/css?family=Courgette|K2D|Cinzel|Noto+Sans+TC");

// @font-face {
//     font-family: custom-sans-serif;
//     src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
//     unicode-range: U+4E00-9FFF;
// }

// @font-face {
//     font-family: custom-sans-serif;
//     src: local(Helvetica), local(Segoe UI);
//     unicode-range: U+00-024F;
// }

body {
	font-family: 'K2D', 'Noto Sans TC', sans-serif;
	font-weight: 300;
	font-size: 1.0rem;
}
h1, h2, h3, h4 {
	font-family: 'Courgette', 'Noto Sans TC', sans-serif;
}

@include media-breakpoint-down(xs) {
	body{ font-size: 0.9rem; }
}
@include media-breakpoint-down(sm) { 
	body{ font-size: 0.9rem; }
}

.hide, .template { display: none !important }

$banner-height: 350px;
$holder-width: 900px;
$footer-height: 100px;
.top-frame {
	margin: 0 auto;
	padding: 10px 0px;
	position: relative;
	width: 100%;

	height: $banner-height;
	max-height: 100%;
	background: url("../img/banner.webp") no-repeat;
	background-position: bottom center;
	background-size: cover;

	.title-holder {
		width: $holder-width;
		padding: 0;
		max-width: 100%;
		height: $banner-height;

		.row {
			position: relative;
			width: 100%;
			top: 50%;
			padding: 0px;
			margin: 0px;
			transform: translate(0, -50%);

			$me-photo-size: 150px;
			.me-photo {
				margin: 0 auto;
				width: $me-photo-size;
				height: $me-photo-size;
				border: 4px solid white;
				border-radius: $me-photo-size;
				background: url("../img/me-small.jpg") no-repeat center;
				background-size: contain;
			}
			.banner-title {
				position: relative;
				top: 50%;
				padding: 10px 20px;
				transform: translate(0, -50%);
				color: white;
				a { color: white }
				.me-taiwan {
					display: inline-block;
					height: 40px;
					width: 30px;
					background: url("../img/taiwan.svg") no-repeat center;
					background-size: 100% 100%;
					vertical-align: bottom;
				}
			}
		}
	}
}

.main-frame {
	margin: 0 auto;
	position: relative;
	width: 100%;
	margin-bottom: $footer-height+25px;

	.content-holder {
		width: $holder-width;
		max-width: 100%;

		h3 {
			margin: 20px 0px;
			&::after {
				content: ' ';
				display: block;
				width: 90px;
				border: 1px solid #AAA;
				position: relative;
				margin: 5px;
			}
		}
		.sec-logo {
			display: inline-block;
			width: auto;
			height: 90px;
			margin: 10px 10px 10px 0px;
			&.round {
				border-radius: 20px;
			}
		}
		
		.sec-text {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}

		.sec-passage {
			text-align: justify;
		}

		.paper {
			font-family: sans-serif;
			p { margin:0 }
			
			.author { font-family: Cinzel; }
			.journal, .status { font-style: italic; }
			.buttons { color: white; }
		}
	}
}

.footer-frame {
	position: fixed;
	display: flex;
	align-items: center;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	height: $footer-height;
	background: $light;

	.footer-holder {
		margin: 0 auto;
		width: $holder-width;
		text-align: center;
		color: gray;
	}
	.contact-icons {
		display: block;
		text-align: center;
		
		.icon {
			display: inline-block;
			width: 50px;
			height: 50px;
			margin: 0px 5px;

			&.email{ background: url("../img/icon-email.svg") no-repeat center; }
			&.github{ background: url("../img/icon-github.svg") no-repeat center; }
			&.twitter{ background: url("../img/icon-twitter.svg") no-repeat center; }
			&.linkedin{ background: url("../img/icon-linkedin.svg") no-repeat center; }
			background-size: contain;
		}
	}
}